body, select, textarea, input, button {
	font-family: comic sans ms, sans-serif;
}

table {
	background-color: gold;
	border: solid 3px black;
	padding: 8px;
}

th {
	font-size: 20px;
	border-bottom: solid 2px black;
}

td {
	font-size: 14px;
	padding: 5px;
}

.tombol {
	border-top: solid 2px black;
	padding-top: 10px
}